{% extends "admin_panel/base.html"%}
{% block title %} Pages {% endblock %}
{% block body %} 

<div class="container">
<h2>Pages List</h2>
<a class="btn btn-primary" style="margin-left: 85%;" href="{% url 'add-page' %}"> <i class="fa-solid fa-plus"></i>Add Page</a>
  <table class="table table-hover">
    <thead>
        <tr>
            <th>Sr.</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Department</th>
            <th>Msg</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>  
        {% for i in appointments %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.email}}</td>
            <td>{{i.phone}}</td>
            <td>{{i.department}}</td>
            <td>{{i.message | truncatewords:5}}</td>
            <td>
                <a href="{% url 'edit-appointment' i.pk %}"><i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'delete-appointment' i.pk %}"><i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>  
        {% endfor %}
        <tbody>
  </table>
</div>


{% endblock %}