{% extends "admin_panel/base.html"%}
{% block title %} List Cards {% endblock %}
{% block body %} 

<div class="container">
    <h2>All Pages List</h2>
    <a class="btn btn-primary" style="margin-left: 85%;" href="{% url 'add-page' %}"> <i class="fa-solid fa-plus"></i>Add Page</a>
      <table class="table table-hover">
        <thead>
            <tr>
                <th>Sr.</th>
                <th>Page Title</th>
                <th>Publisehd on</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>  
            {% for i in pages %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.title }}</td>
                <td>{{i.discription}}</td>
                <td>{{i.published_date }}</td>
    
                <td class="text-center" >
                    <a href="{% url 'edit-page' i.pk %}"><i class="fas fa-edit"></i>
                    </a>
                </td>
                <td class="text-center" >
                    <a href="{% url 'delete-page' i.pk %}"><i class="fa-trash-alt"></i>
                    </a>
                </td>
            </tr>  
            {% endfor %}
            <tbody>
      </table>
    </div>
    

{% endblock %}