{% extends "admin_panel/base.html"%}
{% block title %} Pages {% endblock %}
{% block body %} 

<div class="container">
<h2>Pages List</h2>
<a class="btn btn-primary" style="margin-left: 80%;" href="{% url 'add-page' %}"> <i class="fa-solid fa-plus"></i>Add Page</a>
  <table class="table table-hover">
    <thead>
        <tr>
            <th>Sr.</th>
            <th>Title</th>
            <th>Discription</th>
            <th>Published on</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>  
        {% for page in pages %}
        <tr>
            <td>{{page.id}}</td>
            <td>{{page.title | truncatewords:5}}</td>
            <td>{{page.discription | truncatewords:5}}</td>
            <td>{{page.published_date}}</td>
            <td>
                <a href="{% url 'edit-page' page.pk %}"><i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'delete-page' page.pk %}"><i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>  
        {% endfor %}
        <tbody>
  </table>
</div>


{% endblock %}