{% extends "app/base.html" %}
{% load static %}
{% block title %} {{pagedetail.title}} {% endblock %}
{% block body %}

 
 <section class="call-action overlay" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="content">
                    <h1 class="text-white">{{pagedetail.title}}</h1>
                    <p>{{pagedetail.discription}}</p>
                    <div class="button">
                        <a href="#" class="btn">Get Appointment</a>
                        <a href="#" class="btn second">Learn More<i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </section>

 <div class="container my-3">
    <h2 class="pt-5" >{{pagedetail.h2}}</h2>
    <hr class="col-md-1">
    <p> {{pagedetail.content}}
    </p>
 </div>
 <section class="portfolio section" >
    <h4 class="text-center py-3">Intensive Care Inside Hospital</h4>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="owl-carousel portfolio-slider">
                    <div class="single-pf">
                        <img src="{% static "img/pf1.jpg" %}" alt="#">
                        <a href="portfolio-details.html" class="btn">View Details</a>
                    </div>
                    <div class="single-pf">
                        <img src="{% static "img/pf2.jpg" %}" alt="#">
                        <a href="portfolio-details.html" class="btn">View Details</a>
                    </div>
                    <div class="single-pf">
                        <img src="{% static "img/pf3.jpg" %}" alt="#">
                        <a href="portfolio-details.html" class="btn">View Details</a>
                    </div>
                    <div class="single-pf">
                        <img src="{% static "img/pf4.jpg" %}" alt="#">
                        <a href="portfolio-details.html" class="btn">View Details</a>
                    </div>
                    <div class="single-pf">
                        <img src="{% static "img/pf1.jpg" %}" alt="#">
                        <a href="portfolio-details.html" class="btn">View Details</a>
                    </div>
                    <div class="single-pf">
                        <img src="{% static "img/pf2.jpg" %}" alt="#">
                        <a href="portfolio-details.html" class="btn">View Details</a>
                    </div>
                    <div class="single-pf">
                        <img src="{% static "img/pf3.jpg" %}" alt="#">
                        <a href="portfolio-details.html" class="btn">View Details</a>
                    </div>
                    <div class="single-pf">
                        <img src="{% static "img/pf4.jpg" %}" alt="#">
                        <a href="portfolio-details.html" class="btn">View Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 
 <div class="container my-4">
    <h3 class="text-center text-primary pt-5">{{pagedetail.h3}}</h3>
    <div class="row">
        <div class="col-lg-7 pt-5">
            <div class="text">
                <h4>{{pagedetail.h4}}</h4>
                <p class="py-4" >{{pagedetail.second_content}} </p>
                <div class="button text-white">
                    <a href="#" class="btn btn primary">Schedule Appointment</a>
                </div>
            </div>
        </div>
        <div class="col-lg-5 p-4">
            <img style="width:500px; height:45vh" src='/media/{{pagedetail.image}}' alt="" >
        </div>
    </div>
 
 </div>
 </div>




{% endblock %}